:root {
    --dark: #00aaff;
    --light: #80d4ff;
    --fill: #f2f2f2;
}

body {
    background-color: var(--fill);
}

h1 {
    font-size: 3em;
    text-align: center;
}

h2 {
    display: inline;
}

input[type="submit"] {
    border-radius: 0.2em;
    border: none;
    background-color: var(--fill);
}

input[type="text"], input[type="password"], select {
    width: 80%;
}

select#add-lection {
    width: 40%;
}

input[type="radio"] {
	position: absolute;
	opacity: 0;
}
input[type=radio]+label {
	font-weight: normal;
}
input[type=radio]:checked+label {
	border: 2px solid red;
}

i {
    color: red;
    font-size: 1.2em;
}

p {
    margin: 0.8em;
}

strong {
    font-size: 1.3em;
}

table, th, td {
    border: 1px solid;
    padding: 0.3em;
}

th {
    background-color: var(--light);
}

table {
    text-align: left;
    margin: auto;
    width: 60%;
    border-collapse: collapse;
}


.middle-site {
    background-color: var(--dark);
    margin: auto;
    width: 20em;
    padding: 2em;
    text-align: center;
}

.middle-bar {
    text-align: center;
    margin: auto;
    width: 14em;
    padding: 0.5em;
    background-color: var(--light);
}

.right-bar {
    position: absolute;
    right: 1em;
    text-align: right;
    width: 15%;
    padding: 0.5em;
    background-color: var(--dark);
}

.left-bar {
    position: absolute;
    left: 1em;
    text-align: left;
    width: 15%;
    padding : 0.5em;
    background-color: var(--dark);
}

.list {
    position: relative;
    text-align: center;
}

.add, .sort, .search {
    border-bottom: 1px solid;
    padding: 0.2em;
}

.bottom {
    text-align: center;
    background-color: var(--light);
    padding: 1em;
    text-decoration: none;
}

.btn-large {
    padding: 0.2em;
    margin-top: 0.2em;
}

.no-margin {
    margin-bottom: 0em;
}

.img-add {
    float: right;
    width: 2.5em;
    height: 2.5em;
}

.select-short {
    width: 70%;
}

.btn-select {
    position: absolute;
    width: 10%;
    left: 20%;
}

.a-btn {    
    color: black;
    width: 40%;
    text-decoration: none;
    border-radius: 0.2em;
    border: none;
    background-color: var(--fill);
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    padding: 1px 6px;
}